@import "~antd/lib/style/themes/default.less";
.listContent {
  .description {
    margin-left: 5px;
    line-height: 24px;
    max-width: 720px;
    // font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    // margin-top: .5em; 
    color: #666;

  }
  .extra {
    color: @text-color-secondary;
    margin-top: 16px;
    line-height: 22px;
    & > :global(.ant-avatar) {
      vertical-align: top;
      margin-right: 8px;
      width: 20px;
      height: 20px;
      position: relative;
      top: 1px;
    }
    & > em {
      color: @disabled-color;
      font-style: normal;
      margin-left: 16px;
    }
  }
}
a.listItemMetaTitle {
  color: @heading-color;
  // // font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 18px;
  padding-left: 10;
  // line-height: 28px;
  // letter-spacing: -0.5px;
  // color: #444;
  // margin: 0 0 0 0;
  // padding: 0 0 0 0;
  font-weight: 400;
}
.listItemExtra {
  // width: 272px;
  height: 1px;
}
.selfTrigger {
  margin-left: 12px;
}

@media screen and (max-width: @screen-xs) {
  .selfTrigger {
    display: block;
    margin-left: 0;
  }
  .listContent {
    .extra {
      & > em {
        display: block;
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }
}
@media screen and (max-width: @screen-md) {
  .selfTrigger {
    display: block;
    margin-left: 0;
  }
}
@media screen and (max-width: @screen-lg) {
  .listItemExtra {
    width: 0;
    height: 1px;
  }
}
.md-RichEditor-root{
  padding: 0 !important;
}
.listContentCol {
  padding-top: 20px !important;

}