.normal {
    // height: 800px;
    // font-family: Georgia, sans-serif;
    margin-top: 3em;
    text-align: center;
}

.displayDiv{
    padding-bottom: 8px;
}
.displayIcon{
    padding-right: 5px;
    font-size: 20px;
    // color:  #0078f9;
}
.displayIconName{
    padding-right: 5px;
    font-size: 24px;
    // color:  #0078f9;
}

.displayTextName{
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    // "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    // SimSun, sans-serif;
    // line-height: 32px;
    // font-style: normal;
    // color: #2a2a2a
}
.displayText{
    letter-spacing: 0.4px;
    // font-style: normal;
    // font-weight: 400;
    // font-size: 14px;
    // line-height: 20px;
    // color:rgba(0,0,0,0.84);
    // font-family: "Google Sans Display", sans-serif;
}

.displayTextNameEdit{
    margin-top: 10px;
    // text-align: center;
    border: 1px solid whitesmoke;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}
.displayTextEdit{
    //  text-align: center;
}

.displayDateEdit{
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    // text-align: center;
}

.displayCascaderEdit{
    margin-top: 10px;
    // text-align: center;
    border: 1px solid whitesmoke;
    font-size: 16px;
    font-weight: 500;
    // font-family: Roboto;
}
.displayTextAreaEdit{
    margin-top: 10px;
    // text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid whitesmoke;

}





.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    // display: block;
    // font-size: 999px;
    // filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    // border-radius: .5em;
    float: left;
    // padding: .1em;
}

.fileContainer [type=file] {
    cursor: pointer;
}

// .fileContainer:hover{
//     color: #40a9ff;
// }