@import "~antd/lib/style/themes/default.less";

.main {
    background: #ffff;
    width: 368px;
    border-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    // border-radius: 1rem;
    // background-color:rgba(0, 0, 0, 0.2);
    // opacity: 0.5;

.tabs {
    padding: 0 2px;
    margin: 0 -2px;
    :global {
      .ant-tabs-tab {
        font-size: 16px;
        line-height: 24px;
      }
      .ant-input-affix-wrapper .ant-input:not(:first-child) {
        padding-left: 34px;
      }
    }
}
    :global {
        .ant-tabs .ant-tabs-bar {
        border-bottom: 0;
        margin-bottom: 24px;
        text-align: center;
    }

    .ant-form-item {
        margin-bottom: 24px;
    }
  }
}


.loginform {
    // max-width: 300px;
}
.loginformforgot {
    float: right;
}
.loginformbutton {
    width: 100%;
}
.facebookbutton {
    width: 50%;
}
.googlebutton {
    width: 50%;
}














