<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
      <title>Droidfo,Android forum for end user</title>
      <meta name="Description" content="Droidfo is a android forum,that contain topic and question for end user">
      <meta name="Keywords" content="androidforum,enduser,topic,question,free,droidfo,droidfo.tk">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title><%= context.title %></title>
<link rel="shortcut icon" href="/static/favicon.png" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124168498-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124168498-1');
</script>

</head>
<body>

<div id="root"></div>
</body>
</html>