.normal {
    height: 800px;
    /* font-family: Georgia, sans-serif; */
    margin-top: 3em;
    text-align: center;
}
.textarea:focus { 
    border: 0;
    outline: none !important;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}
.textarea {
    resize: none;
    font-size: 32px;
    font-weight: 600px;
    padding: 0;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}