
html, body, :global(#root) {
  height: 100%;
}
.ant-layout-header{
  line-height: 0 !important;
}
.ant-calendar-picker-input{
  /* text-align: center; */
  border: 1px solid whitesmoke;
}
.ant-select-selection{
  /* padding-left :40%; */
  border: 1px solid whitesmoke;
}

.ant-cascader-input {
  text-align: left;
  border: 1px solid whitesmoke;
}


.ant-form-item{
  margin-bottom: 0;
}

.login-form-button{
  border: 0;
  padding: 0 2px;
}
:global {
  .ant-layout {
    min-height: 100vh;
    overflow-x: hidden;
  }
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}



.ant-layout-footer{
  background: transparent;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/* .DraftEditor-editorContainer {
  background-color:#f0f2f5;
} */


.md-RichEditor-root{
  padding: 0 !important;
}


.largerheadline {
  /* font-family: times, Times New Roman, times-roman, georgia, serif; */
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 38px;
	line-height: 46px;
	letter-spacing: -2px;
	font-weight: bold;
}
.smallheadline{
  /* font-family: Gill Sans, Verdana; */
	font-size: 14px;
	line-height: 22px;
	/* text-transform: uppercase; */
	letter-spacing: 0px;
	font-weight: bold;
}
.date{
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #bbb;
  font-size: 12px;
  /* font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; */
  font-weight: 100;
}

.paragraph{
  /* font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; */
  font-size: 20px;
  margin-top: .5em; color: #666;
}

.headline{
  /* font-family: times, Times New Roman, times-roman, georgia, serif; */
  font-size: 38px;
  line-height: 46px;
  letter-spacing: -1px;
  color: #444;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-weight: 100;
}

.listheadline{
  /* font-family: times, Times New Roman, times-roman, georgia, serif; */
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -1px;
  color: #444;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-weight: 100;
}

.menu{
  /* font-family: Roboto;  
	font-weight: 600;   */
}


.md-RichEditor-editor .public-DraftEditor-content, .md-RichEditor-editor .public-DraftEditorPlaceholder-root{
  margin:0 !important;
  padding:0 !important;
}


.shine {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 350px; 
  display: inline-block;
  position: relative; 
  
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  }
/* div {
  display: inline-flex;
  flex-direction: column; 
  margin-left: 25px;
  margin-top: 15px;
  vertical-align: top; 
} */

  
lines {
  height: 10px;
  margin-top: 10px;
  width: 100%; 
}
box {
  height: 20px;
  width: 50%;
}
photo {
  display: block!important;
  /* width: 350px;  */
  height: 350px; 
  margin-top: 0px;
}
.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}


.md-add-button{
  border:none !important;
}




h1 {
  margin: 0;
  text-align: left;
  line-height: 18px;
  font-size: 22px;
  font-family: 'Kanit', serif;
  /* font-size: 63px; */
}
.sub-heading {
  margin: 0;
  text-align: center;
  margin-top: 2px;
  font-family: 'Kanit';
}
hr {
  width: 100%; 
  height: 4px;
  color: #1890ff;
  background: #1890ff;
  border-radius: 2px;
}


#components-back-top-demo-custom .ant-back-top-inner {
  /* height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9 !important;
  color: #fff;
  text-align: center;
  font-size: 20px; */
  border: 1px solid black;
  background: red;
}


.ant-radio-button-wrapper:last-child{
  border-radius: 0 !important;
  border-bottom: transparent;
}
.ant-radio-button-wrapper:first-child{
  border-radius: 0 !important;
  border-bottom: transparent;
}
.ant-radio-button-wrapper{
  border-bottom: transparent;
}

#commentbox >.ant-card-body>.md-RichEditor-root>.md-RichEditor-editor>.DraftEditor-root>.DraftEditor-editorContainer>.public-DraftEditor-content{
  /* border: 0.5px solid #8c8c8c;
  padding: 5px;
  margin: 5px;
  border-radius: 0.1rem; */
  min-height: 0px;
  /* background: #f5f5f5; */
}

.commentdisplaybox >.md-RichEditor-root>.md-RichEditor-editor>.DraftEditor-root>.DraftEditor-editorContainer>.public-DraftEditor-content{
  min-height: 0px;
}

.replybox >.md-RichEditor-root>.md-RichEditor-editor>.DraftEditor-root>.DraftEditor-editorContainer>.public-DraftEditor-content{
  min-height: 0px;
}

.replydisplaybox>.md-RichEditor-root>.md-RichEditor-editor>.DraftEditor-root>.DraftEditor-editorContainer>.public-DraftEditor-content{
  min-height: 0px;
}