.header{
    padding: 0;
    margin: 0;
    position: fixed;
    border-top: 3px solid #1890ff;
    width: 100%;
    height: 42px;


    // box-shadow: 0 2px 8px rgba(240, 241, 242, 65);
    //box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    z-index: 2;
}



