@import "~antd/lib/style/themes/default.less";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: 'white';
}

.content {
  padding: 32px 0;
  flex: 1;
}

@media (min-width: @screen-md-min) {
  .container {
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }

  .content {
    padding: 112px 0 24px 0;
  }
}

.top {
  text-align: center;
}

.header {
  height: 44px;
  line-height: 44px;
  a {
    text-decoration: none;
  }
}

.logo {
  height: 44px;
  vertical-align: top;
  margin-right: 16px;
}

.title {
  font-size: 33px;
  color: whitesmoke;
  // font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: relative;
  top: 2px;
}

.desc {
  font-size: @font-size-base;
  color:whitesmoke;
  margin-top: 12px;
  margin-bottom: 40px;
}




.logogatherdemoeditwrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f1f1f1;
  padding: 0 5%;
  line-height: 45px;
}

.logogatherdemoeditwrapper ul {
  display: block;
  width: 100%;
  overflow: hidden;
}

.logogatherdemoeditwrapper ul li:first-child {
  margin-left: 0;
}

.logogatherdemoeditwrapper ul li {
  float: left;
  vertical-align: middle;
  margin: 0 5px;
}

.logogatherdemowrapper {
  position: relative;
  background: #f1f3f4;
  // background: #35aef8;
  // background: -moz-linear-gradient(-45deg, #35aef8 0%, #7681ff 76%, #7681ff 76%);
  // background: -webkit-linear-gradient(-45deg, #35aef8 0%, #7681ff 76%, #7681ff 76%);
  // background: linear-gradient(135deg, #35aef8 0%, #7681ff 76%, #7681ff 76%);
  position: relative;
  overflow: hidden;
  height: '100%';
}
.pointwrapper{
  // position: absolute;
  // top:0;
  // left: 0;
  // right: 0;
}
.logogatherdemowrapper .pointwrapper {
  position: absolute;
}

.logogatherdemowrapper .point {
  border-radius: 100%;
}

.logogatherdemowrapper .rightside {
  width: 300px;
  height: 360px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.logogatherdemowrapper .rightside * {
  pointer-events: none;
}

@media screen and (max-width: 414px) {
  .exhibitiondetailsdemo {
    overflow: hidden;
  }

  .logogatherdemoeditwrapper {
    transform: translateY(100%);
    transition: transform .45s ease-in-out;
  }

  .logogatherdemoeditwrapper.open{
    transform: translateY(0);
  }

  .logogatherdemoeditwrapper .anticondown{
    transition: transform .45s ease-in-out;
  }

  .logogatherdemoeditwrapper.open .anticondown{
    transform: rotate(180deg);
  }

  .logogatherdemoeditwrapper > div {
    width: 90%;
    line-height: 24px !important;
    margin-bottom: 5px;
  }

  .exhibitiondetailsdemo .editbutton{
    position: absolute;
    top: -20px;
    width: 30px;
    height: 20px;
    border-radius: 30px 30px 0 0;
    background: #f1f1f1;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15);
  }

  .logogatherdemoeditwrapper ul {
    margin: 5px auto;
  }

  .phonefloatnone {
    clear: both;
    margin-left: 0 !important;
  }

  .none {
    display: none;
  }

}